@charset "UTF-8";

/* ESTILO PARA TODAS AS DEMAIS MIDIAS*/

/* Breaking points
Pequenas telas: max-width de 600px
Celular: de 600px a 768px
Tablets: 768px a 992px
Desktop: 992px a 1200px
Grandes telas: acima de 1200px  */

@media print {   /* Impressão */
    body {
        background-image: url(..//imagens/back-print.jpg);
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {    /* Tablet*/
    body {
        background-image: url(..//imagens/back-tablet.jpg);
    }

    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
}
@media screen and (min-width: 992) and (max-width: 1200) {     /* Desktop*/
    body {
        
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: block;}
    img#tv { display: none;}
}
@media screen and (min-width: 1200px) {     /* Grandes telas*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: block;}
}