@charset "UTF-8";

/* Fonte para h1 */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap'); 

/* Fonte para texto */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

header > h1 {
    background-color: black;
    color: white;
    font-family: 'Passion One', 'Times New Roman', Times, serif;

    /* Para ajutar o texto de acordo com o tamanho de tela do dispositivo, podemos usar os elementos 
    vh --> Viewport Height (Altura) e 
    vw --> Viewport Width (Largura) */

    font-size: 10vw;
    text-align: center;
    padding: 40px 0px 0px ;
    margin: 0px;
}
header > p {
    background-color: black;
    color: white;
    font-size: 4vh;
    text-align: center;
    padding: 10px 0px 40px;
    margin: 0px;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: 'Sriracha', 'Times New Roman', Times, serif;
    font-size: 5vw;
}
section#imagem {
    height: 460px;
    width: 400px;
    border: 1.5px solid black;
    background-color: rgba(0, 0, 0, 0.151);
    background-image: url('imagens/background001.jpg');
}
footer {
    background-color: black;
    color: white;
    font-size: 3vh;
    text-align: center;
    font-family: 'arial', Times, serif;
}
footer > p {
    margin: 0px;
}
a {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 255, 213, 0.466);
    border-radius: 5px;
    padding: 0px 3px;
}
a:hover {
    color: black;
    text-decoration: underline;
}
